.item label {
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
  margin-bottom: 15px;
}

.item label input {
  position: absolute;
  z-index: 999;
  left: 0;
  width: auto;
  margin: 0;
}

.item span {
  margin: 0 110px 0 30px;
}

.item .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}
.item .actions button {
  margin: 0;
  margin-right: 5px;
}
.item .actions button:last-child {
  margin: 0;
}